@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul[role=list],
ol[role=list] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  line-height: 1.5;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
h1 {
  font-size: 2rem;
  font-weight: 700;
}

h2 {
  font-size: 2rempx;
  color: hsl(0deg, 0%, 100%);
}

p {
  font-weight: 400;
}

body {
  font-family: "Overpass", sans-serif;
  background-color: hsl(228deg, 11%, 9%);
}

main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.container {
  background-color: hsl(215deg, 21%, 16%);
  max-width: 375px;
  border-radius: 1.25rem;
  padding: 1.5rem;
  z-index: 1;
}
@media (min-width: 480px) {
  .container {
    max-width: 412px;
    padding: 2rem;
    border-radius: 1.75rem;
  }
}

p {
  color: hsl(215deg, 8%, 61%);
}

h1 {
  color: hsl(0deg, 0%, 100%);
  margin-block: 1.25rem 1rem;
}
@media (min-width: 480px) {
  h1 {
    margin-block: 2rem 1.5rem;
  }
}

.iconstar {
  background-color: hsl(210deg, 19%, 18%);
  padding: 13px;
  border-radius: 50%;
}
@media (min-width: 480px) {
  .iconstar {
    padding: 16px 16px;
  }
}

ul {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin-block: 1.5rem 1rem;
}
@media (min-width: 480px) {
  ul {
    margin-block: 1.75rem;
  }
}
ul li {
  list-style: none;
}

.btn {
  display: flex;
  justify-content: center;
}

li > button {
  padding: 9px 18px;
  border: none;
  border-radius: 50%;
  background-color: hsl(210deg, 19%, 18%);
  color: hsl(215deg, 8%, 61%);
  font-weight: 400;
}
@media (min-width: 480px) {
  li > button {
    padding: 14px 23px;
  }
  li > button:focus {
    background-color: hsl(216deg, 12%, 54%);
    color: hsl(217deg, 12%, 63%);
  }
  li > button:hover {
    background-color: hsl(25deg, 97%, 53%);
    cursor: pointer;
  }
}

@media (min-width: 480px) {
  #ratingbutton5:hover {
    background-color: hsl(25deg, 97%, 53%);
  }
}

#button-submit {
  padding-block: 16px;
  min-width: 327px;
  border-radius: 100vmax;
  border: none;
  background-color: hsl(25deg, 97%, 53%);
  color: hsl(0deg, 0%, 100%);
  font-weight: 400;
}
@media (min-width: 480px) {
  #button-submit {
    min-width: 348px;
    font-weight: 400;
  }
  #button-submit:hover {
    background-color: hsl(0deg, 0%, 100%);
    color: hsl(25deg, 97%, 53%);
    cursor: pointer;
  }
}

.container2nd {
  background-color: hsl(215deg, 21%, 16%);
  min-width: 375px;
  border-radius: 1.25rem;
  padding-inline: 1.5rem;
  padding-block: 32px 40px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (min-width: 480px) {
  .container2nd {
    max-width: 412px;
    padding: 3.5rem 2rem;
  }
}

.thankyouillustration {
  margin-inline: auto;
}

.ratingview {
  margin-inline: 20%;
  margin-block: 18px 22px;
  padding-block: 8px;
  background-color: hsl(210deg, 19%, 18%);
  color: hsl(25deg, 97%, 53%);
  border-radius: 100vmax;
}
@media (min-width: 480px) {
  .ratingview {
    margin-block: 32px 34px;
  }
}

h2 {
  margin-bottom: 16px;
}
@media (min-width: 480px) {
  h2 {
    margin-bottom: 1.125rem;
  }
}

/*# sourceMappingURL=style.css.map */
